<p>
    <mat-toolbar color="primary">
      <a mat-icon-button routerLink="/" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
      </a>
      <span>ExamPortal</span>
      <span class="example-spacer"></span>
      <a  routerLink="/login" mat-icon-button  aria-label="Example icon-button with heart icon">
        <span class=" mr20">LogIn</span>
      </a>
      <a mat-icon-button routerLink="/signup" class=" mr20 ml20" aria-label="Example icon-button with share icon">
        <span class=" mr20 ">SignUp</span>
      </a>
    </mat-toolbar>
  </p>
