<div class="bootstrap-wrapper" >
    <div class="container">
         <div class="row" style="margin-top:20px;">
            <div class=" col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center logo-style">
                   <img  class="" src="../../../assets/online.png" alt="nothing to show">               
                </div>
                <h1 class="text-center">Login here !</h1>
                <div class="container">
                    <!-- {{user|json}} -->  
                    <!-- make  sure to impoer form module into app.module.ts file it will summti the forme -->
                    <form  class="example-form " >

                        <!-- user field -->
                        <!--[(ngModel)]="user.userName" this will bind the fild with user model of ts file  -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input 
                            name="userName"
                            matInput>
                          </mat-form-field>
                            <!-- passsword field -->
                         <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password"
                            name="password"
                            matInput>
                          </mat-form-field>
                          
                          <div class="container text-center">
                            <button mat-raised-button class="full-width" color="accent">LogIn</button>
                            
                          </div>
                        
                      </form>
                      
                </div>
            </mat-card>
            </div>
        </div>
    </div>
</div>

